.post {
  position: relative;
  width: 90%;
  height: 20%;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
  margin: 10px 10px 10px 20px;
  float: left;
  border-radius: 15px;
}

.post-left {
  width: 15%;
  max-width: 15%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  color: #000;
}

.post-content {
  width: 75%;
  display: table-cell;
  text-align: left;
  background-color: #E8E8E8;
  color: #000000;
  border-radius: 0 15px 15px 0;
  padding: 0 20px;
}

.post-title {
  font-family: 'Itim', cursive;
  font-weight: bold;
  color: #2b312b;
  font-size: 25px;
  height: 25px;
}

.post-more {
  float: right;
  cursor: pointer;
  font-size: 18px;
  margin-right: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 10px;
  font-size: 30px;
}

.post-desc {
  height: 100px;
  margin-bottom: 0 !important;
  width: 90%;
  height: 110px;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0 !important;
  color: #fff;
  background-color: orange;
  background-size: 2000% 2000%;
}

.allPostsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-title, .deleteButton {
  display: inline;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.option-buttons {
  display: table;
  margin: 0 auto;
}

.dialog-buttons {
  margin: 0px 15px 0px 0px;
  text-align: center;
  ;
  padding: 15px 15px 15px 15px;
  background: #000;
  color: #FFF;
  cursor: pointer;
  text-align: center;
}

#yes-button {
  background: #FF0000;
}

#no-button {
  background: #008000;
}

#warning-text {
  text-align: center;
  color: #000;
}
